
/* font p + zentangle h2 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=The+Nautigal:wght@700&display=swap');

/* Board writing font h1 */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');


/* Calligraphy font h1 */
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

/* Glass painting font h1 */
@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');

/*Gold gilding font h1 */
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');

/* Home font h1  */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

/* How it's made video */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


/* Lettering font h1 */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


/* Wood carving h1 */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/* Zentangle font h1 */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


/* How it's made font h1 */
@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');


body,html{
    height: auto;
    width: auto;
   }


* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  overflow-x: hidden;  
}


body{
    background-color: #f3f3f3;
}

p{
  margin: auto;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-align: center;
  width: 90%;
  max-width: 600px;
}

@media(min-width: 768px){
    p{
        font-size: 15px;
    }
}


/* 
*
*
*
  M E N U   
*
*
*
*/

.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  background: none;
  z-index: 1;
}

nav > .art-zem{
    display: block;
    position: absolute;
    top: -1.5%;
    left:25%;
    overflow:hidden;
    font-size: 45px;
    letter-spacing: 5px;
    font-family: 'The Nautigal', cursive;
    font-weight: bolder;
    text-shadow:  1px 1px 10px #ffffff;
    color: #ffffff;
    margin: 5px auto;
}

nav {
 background: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
  color: #ffffff;
  height: 50px;
  width: 100vw;
  padding: 0 20px;
  margin: auto;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-align: right;
  z-index: 100;
}

nav .m-menu__checkbox {
  display: none;
}
nav label.m-menu__toggle {
  cursor: pointer;
  }

nav .m-menu {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 200px;
  width: calc(70vw - 30px);
  height: 100%;
  -moz-transform: translate3d( -450px, -450px, 0);
  -o-transform: translate3d( -450px, -450px, 0);
  -ms-transform: translate3d( -450px, -450px, 0);
  -webkit-transform: translate3d( -450px, -450px, 0);
  transform: translate3d( -450px, -450px, 0);
  -moz-transition: transform 0.7s;
  -o-transition: transform 0.7s;
  -webkit-transition: transform 0.7s;
  transition: transform 0.6s ease-out;
  z-index: 150;
  overflow: hidden;
  background: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
  
}


nav .m-menu__header {
  padding: 0 16px;
  height: 50px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: start;
  -ms-flex-pack: space-around;
  -webkit-align-items: center;
  align-items: center;
  z-index: 3;
}

nav .m-menu__header span {
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
  width: 100%;
  color: #ffffff;
  }

nav .m-menu .m-menu {
  -moz-transform: translate3d(480px, 0, 0);
  -o-transform: translate3d(480px, 0, 0);
  -ms-transform: translate3d(480px, 0, 0);
  -webkit-transform: translate3d(480px, 0, 0);
  transform: translate3d(480px, 0, 0);
}
nav  .m-menu  ul {
  height: 90%;
  overflow-y: auto;
  list-style-type: none;
  
}

nav .m-menu  ul  li a, nav  .m-menu  ul  li  label { 
  display: block; 
  text-align: center;  
  line-height: 50px; 
  text-decoration: none; 
  color: #ffffff;  
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: lighter; 
  position: relative;
} 
  
  nav .m-menu ul li label.a-label-right::after { 
  content: ""; 
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-color:whitesmoke;
  border-style: solid;
  border-width: 3px 3px 0 0;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  margin-top: -5px;
  right: 16px;
  color: #ffffff;
}
nav .m-menu ul li .-invisible {
  border-bottom: 0;  
}

nav .m-menu .m-menu label.m-menu__toggle {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  border-bottom: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  
}

nav .m-menu__checkbox:checked ~ .m-menu__overlay {
  display: block;
 }
 
nav .m-menu__checkbox:checked ~ .m-menu {
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}




/*
*
*
*
      ABOUT
*
*
*
*/

#about-back{
   background-image: url(../images/about-back.jpg); 
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#about-p{
    margin-top: 30px;
    margin-bottom: 50px;
    backdrop-filter: blur(2px);
}



#head-foto{
    display: flex;
    align-items: center;
    object-fit: cover;
    margin:  100px auto 30px auto;
    border-radius: 5px;
}

@media(max-width: 375px){
    #head-foto{
      width: 250px; 
      height: 200px; 
    }
}

@media(min-width: 768px){
    #head-foto{
      width: 450px; 
      height: 400px; 
    }
}

#logo{
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 50%;
}

#social-container{
   display: grid;
   grid-auto-columns: 1fr;
   grid-template-areas: 
   "contact"
   "social";
   width: 100%;
   height: 200px;
   background-color: #3a3a35;
}

#contact{
    grid-area: contact;
    color: white;
    font-size: 11px;
}

#social{
    grid-area: social;
    display: inline-flex;
    justify-content: space-around;
    margin: auto;
    width:300px;
    height: 50px;
}

#call{
    background-image: url(../images/call.png);
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#whats{
    background-image: url(../images/whats.png);
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#mail{
    background-image: url(../images/mail.png);
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#insta{
    background-image: url(../images/insta.png);
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    
}


/*
*
*
*
    BOARD WRITTING
*
*
*
*/

.ml2-board{ 
    font-weight: 500; 
    font-size: 11vw;
    font-family: 'Fredericka the Great', bolt;
    font-weight: normal;
    font-style: normal;
    color:white;  
    overflow-x: hidden;  
    } 
    
.ml2-board .letter-board { 
    display: inline-block; 
     
}

@media(min-width: 2560px){
    .ml2-board{
        font-size: 8vw;
    }
}


#board-h1-back{
    display: flex;
    width: 100vw;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/back7.jpg);
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

#board-p{
    color: #000;
    font-size: 17px;
    margin: 50px auto;
}

@media(min-width: 2550px){
    .gallery > a > img{
        width: 300px;
        height: 450px;
    }
}



/*
*
*
*
     CALLIGRAPHY
*
*
*
*/

#calli-back{
    display: flex;
    width: 100vw;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/calli-back.jpg);
    background-attachment:fixed;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media(min-width: 1024px){
    #calli-back{
       width: 100vw;
       height: 100vh;
    }
}

@media(min-width: 2560px){
    #calli-back{
       width: 100vw;
       height: 100vh;
       background-size: cover;
    }
}



.ml12-calli { 
    font-weight: 900; 
    font-size: 22vw; 
    font-family: 'Tangerine';
    letter-spacing: 2px;    
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
} 

.ml12-calli .letter-calli { 
    display: inline-block; 
    line-height: 1em; 
}

@media(min-width: 1024px){
    .ml12-calli{
        font-size: 10vw;
    }
}


@media(min-width: 2560px){
    .ml12-calli{
        font-size: 6vw;
    }
}

#cali-p{
    margin: 50px auto;
}


/*
*
*
*
    GLASS PAINTING
*
*
*
*/

#glass-back{
    display: flex;
    width: 100vw;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/glass-back.jpg); 
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



.ml10-glass { 
    position: relative;
    display: flex;
    width: 100vw;
    height: 300px;
    font-family: 'Glass Antiqua', cursive;
    font-weight: 900;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-around;
    font-size: 16vw;
    color: #fff; 
} 

@media(min-width: 1024px){
    #glass-back{
       width: 100vw;
       height: 100vh;
    }
}

@media(min-width: 2560px){
    #glass-back{
       width: 70vw;
       left: 15vw;
       height: 100vh;
       background-size: cover;
    }
}

@media(min-width: 1024px){
    .ml10-glass{
        font-size: 10vw;
    }
}


@media(min-width: 2560px){
    .ml10-glass{
        font-size: 6vw;
    }
}


.ml10-glass .text-wrapper-glass { 
    position: relative; 
    display: inline-block; 
    padding-top: 60px; 
    padding-right: 0.05em; 
    padding-bottom: 0.1em; 
    overflow: hidden; 
} 

.ml10-glass .letter-glass { 
    display: inline-block; 
    transform-origin: 0 0; 
}
#glass-p{
    color: #000;
    margin: 50px auto;
}

/*
*
*
*
    GOLD GILDING
*
*
*
*/

#gold-h1-back{
    display: flex;
    width: 100vw;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/gold-h1-back.jpg);
    background-attachment:fixed;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



.ml9-gold { 
    position: relative; 
    font-weight: 900; 
    font-family: 'Goldman', cursive;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
    color:#000;  
} 

@media(min-width: 1024px){
   .ml9-gold{
       font-size: 60px;
   } 
} 

.ml9-gold .text-wrapper-gold { 
    position: relative; 
    display: inline-block; 
    overflow: hidden; 
} 

.ml9-gold .letter-gold { 
    transform-origin: 50% 100%; 
    display: inline-block; 
}

#gold-p{
   color: #000;
   margin: 50px auto;
}

/*
*
*
*
     HOME 
*
*
*
*/
        
#img-home-head{
    display: block;
    width:100vw;
    height:100vh;
    background-image: url('../images/home-back2.jpg');
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.ml9 { 
    position: absolute;
    display: flex;
    width: 90vw;
    left: 5vw;
    vertical-align: middle;
    font-family: 'Bungee Shade', cursive;
    top: 70px;
    font-weight: 800; 
    font-size: 6vw; 
    z-index: 0; 
    
} 

.ml9 .text-wrapper { 
    position: relative; 
    display: inline-block;
    padding-top: 0.2em; 
    padding-right: 0.05em; 
    padding-bottom: 0.1em; 
    overflow: hidden; 
    margin: auto;
} 

.ml9 .letter { 
    transform-origin: 50% 100%; 
    display: inline-block; 
    color: #000;
}


@media(min-width: 1024px){
    .ml9{
        width: 70vw;
        top:70px;
        left: 15vw;
        font-size: 5vw;        
    }
}

@media(min-width: 2560px){
    .ml9{
        width: 50vw;
        top:60px;
        left: 25vw;
        font-size: 3vw;
    }
}

@media(min-width:768px) and (min-height:1024px){
    .ml9{
        top:150px;
    }
}


@media(min-width:1024px) and (min-height: 1366px){
    .ml9{
        top:150px;
    }
}

#home-video{
    display: block;
    position: absolute;
    top: 0;
    height: 600px;
    width: 50vw;
    left: 25vw;
    padding-bottom: 40px;
    vertical-align: middle;    
}

#home-video > video{
    align-content: center;
    margin: auto;
}


@media(min-width: 1024px){
   #home-video{
       width:20vw;
       left:40vw;
   } 
}


@media(min-width: 2560px){
   #home-video{
       width:20vw;
       left:80vw;
       height:90vh;
       top:15vh;
   } 
}

@media(min-width:768px) and (min-height:1024px){
    #home-video{
        top:20vh;
    }
}

@media(min-width:1024px) and (min-height: 1366px){
    #home-video{
        top:30vh;
        width:80vw;
        height: 60vw;
        left:10vw;
        
    }
}


#home-h2{
    display: block;
    position: absolute;
    top: 65vh;
    width: 56%;
    left: 22%;
    font-family: 'Montserrat', sans-serif;
    vertical-align: middle;
    text-align: center;
    background-color: transparent;
}

@media(min-width: 1024px){
    #home-h2{
        top:80vh;
    }
}

@media(min-width: 2560px){
    #home-h2{
        top:50vh;
        font-size:2vw;
    }
}

@media(min-width:768px) and (min-height:1024px){
    #home-h2{
        top:80vh;
    }
}


@media(min-width:1024px) and (min-height: 1366px){
    #home-h2{
        font-size:4vw;
    }
}   

#container-portfolio{
    display:flex;
    flex-flow: column;
    background-color: none;
    width:100vw;
    height: 2400px;
}


#h2-portfolio{
    margin-bottom: 50px;
    margin-top: 100px;
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 12vw;
}

#home-p-center{
    display: block;
    height: 900px;
    margin-top: 15px;
    overflow: visible;
    
}

#home-p-center > p{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 60px;
    text-align: center;
    font-size: 8vw;
}


#home-p-center > p > a{
    text-decoration: none;
    color:#000;
}

    
     


/*
*
*
*
    HOW IT'S MADE
*
*
*
*/


#how-back{
    display: flex;
    width: 100vw;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/how-back5.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

@media(min-width: 768px){
    #how-back{
        height: 75vh;
        width: 100%;
    }
}

@media(min-width: 1024px){
    #how-back{
        height: 100vh;
        width:100vw;
        vertical-align: middle;
    }
}

.ml12 { 
    text-align: center;
    vertical-align: middle;
    margin-top: 200px;
    font-weight: 800; 
    font-size: 3vw; 
    text-transform: uppercase; 
    letter-spacing: 5px; 
} 


@media(max-width: 375px){
    .ml12{
        margin-top: 150px;
    }
}

@media(min-width: 768px){
    .ml12{
        margin-top: 300px;
    }
}

@media(min-width: 1024px){
    .ml12{
        margin-top: 400px;
    }
}


.ml12 .letter { 
    display: inline-block; 
    line-height: 1em;
}



.how-h2{
    font-size: 10vw;
    text-align: center;
    margin-top: 150px ;
    background-color: red; 
    background-image: linear-gradient(45deg, #f3ec78, #af4261); 
    background-size: 100%; 
    background-repeat: repeat;     
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text; 
    -moz-text-fill-color: transparent;
}

@media(min-width: 1024px){
    .how-h2{
        font-size: 6vw;
    }
}


#instagram-home{
    display: inline-flex;
    width: 300px;
    height: 200px;
    justify-content: space-around;
}

/*
*
*
*
    HOW IT'S MADE VIDEO
*
*
*
*/



#how-video-head{
    background-attachment: fixed;
    position: absolute;
    top: 0;
    max-height: 500px;
    width: 100vw;
    z-index: -12;
}

.ml5 { 
    display: flex;
    margin-top:200px;
    justify-content: space-around;   
    align-content: center;
    font-weight: 800; 
    font-size: 40px; 
    color:#fff; 
    z-index: -1;
} 

.ml5 .text-wrapper { 
    position: relative; 
    display: inline-block; 
    padding-top: 0.1em; 
    padding-right: 0.05em; 
    padding-bottom: 0.15em; 
    line-height: 1em; 
} 

.ml5 .line { 
    position: absolute; 
    left: 0; 
    top: 0; 
    bottom: 0; 
    margin: auto; 
    height: 3px; 
    width: 100%; 
    background-color: #fff; 
    transform-origin: 0.5 0; 
}

.ml5 .ampersand { 
    font-weight: 400; 
    width: 1em; 
    margin-right: -0.1em; 
    margin-left: -0.1em; 
} 

.ml5 .letters { 
    display: inline-block; 
    opacity: 0; 
}

#how-h1-lettering{
    margin-top:100px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 12vw;
    background-color: red; 
    background-image: linear-gradient(45deg, #c46aff, #2beaff); 
    background-size: 100%; 
    background-repeat: repeat;     
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text; 
    -moz-text-fill-color: transparent;
}

@media(min-width: 1024px){
  #how-h1-lettering{
      font-size: 8vw;
  }
}

@media(min-width: 2560px){
  #how-h1-lettering{
      font-size: 4vw;
  }
}

/*
*
*
*
     Container for video grid
*
*
*
*/

#container-video{
    display: flex;
    position: absolute;
    top: 500px;
    flex-direction: column;
    vertical-align: middle;
    justify-content: space-around;
    width: 100vw;
    height: auto;
}

#container-video > .section1{
    display: flex;
    justify-content: space-around;
    height: 650px;
    flex-flow: column;
}

#container-video > .section1 > div{
    max-width: 300px;
    margin: auto;
}


#container-video  .section2{
    display: flex;
    justify-content: space-around;
    height: 800px;
    flex-flow: column;
    }

#container-video > .section2 > div{
    max-width: 300px;
    margin: auto;
}

#container-video > .section3{
    display: flex;
    justify-content: space-around;
    height: 200px;
    margin-bottom: 100px;
    flex-flow: column;
    
}

#container-video > .section3 > div{
    max-width: 300px;
    margin: auto;
}



@media(min-width: 1024px){
   #container-video > .section1{
       flex-flow: row;
       flex-wrap: wrap;
   }
}


@media(min-width: 1024px){
   #container-video > .section2{
       flex-flow: row;
       flex-wrap: wrap;
   }
}


@media(min-width: 1024px){
   #container-video > .section3{
       flex-flow: row;
       flex-wrap: wrap;
   }
}







 

/*
*
*
*
    LETTERING
*
*
*
*/

#letter-back{
    display: flex;
    width: 100vw;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/letter-back.jpg);
    background-attachment:fixed;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.ml3-letter { 
    font-family: 'Berkshire Swash', cursive;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 70px;
    color: #47314a;
    font-weight: 900; 
    letter-spacing: 3px;
    text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
}

#letter-p{
    color: black;
    margin: 50px auto;
}


/*
*
*
*
     WOOD CARVING
*
*
*
*/

#wood-back{
    display: flex;
    width: 100vw;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/wood-back.jpg);
    background-attachment:fixed;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.ml2-wood { 
    font-weight: 900; 
    font-size: 11vw; 
} 


.ml2-wood .letter-wood { 
    display: inline-block; 
}

#wood-h1{
    font-family: 'MedievalSharp', cursive;
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    color: #FFFFFF;
}   

#wood-p{
    color: #000;
    margin: 50px auto;
}


/*
*
*
*
    ZENTANGLE
*
*
*
*/

#zentangle-back{
    display: flex;
    width: 100vw;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/zentangle-back.jpg);
    background-attachment:fixed;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.ml12-zen { 
    
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
} 

.ml12-zen .letter-zen { 
    display: inline-block; 
    line-height: 1em; 
}

#zen-h1{
    font-family: 'Bungee', cursive;
    font-weight: 900; 
    font-size: 11vw; 
    letter-spacing: 2px;
    margin-top: 60px;
    margin-bottom: 20px;
    color:#fff; 
    backdrop-filter: blur(4px);
    text-shadow: 5px 5px #000;
}

@media(min-width: 2560px){
    #zen-h1{
        font-size: 6vw;
    }
}

#zen-h2{
    position: absolute;
    display: inline-block;
    width: 60vw;
    left: 20vw;
    top:220px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; 
    font-size: 8vw; 
    text-align: center;
    vertical-align: middle;
    margin-bottom: 20px;
    color:#fff; 
    backdrop-filter: blur(4px);
    
}

@media(min-width: 1024px){
    #zen-h2{
        font-size: 5vw;
        width: 40vw;
        left:30vw;
        top:220px;
    }
}

@media(min-width: 2560px){
    #zen-h2{
        font-size: 2vw;
    }
}

#zentangle-p{
    color: #000;
    margin: 50px auto;
}
    
   
/*
*
*
*
    Container for image grid
*
*
*
*/

.gallery{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   gap: 20px;
   margin-top: 100px;
   padding: 25px;
}

.gallery img {
  width: 100%;
  display: block;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
  
  


